* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*-------------------------------------------------------------
    Responsive CSS menu. 
    https://webdesign.tutsplus.com/tutorials/how-to-build-a-responsive-navigation-bar-with-flexbox--cms-33535
    Mar 10 2021
--------------------------------------------------------------*/

:root {
    --main-radius: 10px;
    --main-padding: 5px;
    --copyright: 'CBS Mar 08 2021 Limited edition'
}

/*-------------------------------------------------------------
    Basic settings
--------------------------------------------------------------*/
body {
    font-family: sans-serif;
    font-size: 16px;
}

nav {
    background: #222;
    padding: 0 15px;
}

a {
    color: white;
    text-decoration: none;
}

.css-menu, .css-submenu {
    list-style: none;
}

.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.px 0;
}

.item {
    padding: 10px;
}

.item.button {
    padding: 9px 5px;
}

.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc;
}

/*-------------------------------------------------------------
    Mobile menu
--------------------------------------------------------------*/
.css-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.css-menu li a {
    display: block;
    padding: 15px 5px;
}
.css-menu li.subitem a {
    padding: 15px;
}
.toggle {
    order: 1;
    font-size: 20px;
}
.item.button { 
    order: 2;
}

.item { 
    order: 3;
    width: 100%;
    text-align: center;
    display:block;
}

.secondary {
    border-bottom: 1px #444 solid;
}

/* Sub menus */

.has-submenu > a::after {
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    content: "\f078";
    color: white;
    padding-left: 15px;
}

.subitem {
    padding: 10px 15px;
}

/*-------------------------------------------------------------
    Tablet menu
    Displayed for a screen larger than 700px
--------------------------------------------------------------*/
@media all and (min-width: 700px) {
    .css-menu { 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        order: 0;
        background: red;
    }
    .toggle {
        text-align: right;
        order: 2;
    }
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .item { 
        order: 3;
        width: 100%;
        text-align: center;
        display:block;
    }
    .button.secondary a {
        background: transparent;
        border: 1px #0080ff solid;
    }
    .button a:hover {
        text-decoration: none;
    }
    .button:not(.secondary) a:hover {
        background: royalblue;
        border-color: darkblue;
    }
}

/*-------------------------------------------------------------
    Desktop menu
    Displayed for a screen larger than 980px
--------------------------------------------------------------*/
@media all and (min-width: 980px) {
    .css-menu {
        align-items: center;
        flex-wrap: nowrap;
        background: none;
    }
    .logo {
        order: 0;
        background: darkgreen;
    }
    .item {
        order: 1;
        position: relative;
        display: block;
        width: auto;
    }
    .item.button {
        order: 2;
    }
    .css-submenu {
        display: block;
        position: absolute;
        width: auto;
        left: 0;
        top: 68px;
        background: #111;
    }
    .toggle {
        display: none;
    }

}


