#header {
  border-bottom: 2px solid lightgray;
  padding-bottom: 1em; 
  margin-bottom: 1em;
font-weight: bold;
}

#appzone {margin-top: 1em;}

#footer {font-size: 1em; 
    border-top: 2px solid lightgray;
    padding-top: 1em; 
    margin-top: 1em;
    font-weight: bold;
}

.moduletitle {  font-style: italic; font-size: small; padding-top: 1em; padding-bottom: .5em; }

.calc-form {
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
  padding: 0.4em;
  border: 1px solid;
}
.field {
  width: 3rem;
  margin: 2px;
  text-align: center;
}

.grid2-80 {
  display:grid;
  grid-gap: 10px; 
  grid-template-columns: 80% 20%;
  margin: auto;
  max-width: 80%;
  align-items: center;
}

.grid2-60 {
  display:grid;
  grid-gap: 10px; 
  grid-template-columns: 60% 40%;
  margin: auto;
  max-width: 60%;
  align-items: center;
}

.grid3 {
  display:grid;
  grid-gap: 10px; 
  grid-template-columns: 20% 60% 20%;
  margin: auto;
  max-width: 80%;
}

.grid4 {
  display:grid;
  grid-gap: 20px; 
  grid-template-columns: 20% 40% 20% 20%;
  text-align: right;
  align-items: center;
  max-width: 80%;
}

.viewbackground {background-color: lightgray;}
.viewframe { border: 1px solid lightgray; border-radius: 4px};

.running {
  background-color: #337ab7;
  color: white;
  text-align: left;
  vertical-align: middle;
  border: 1px;
  border-radius: 4px;
  padding: 10px 20px 10px 20px;
  margin: 10px 20px 0px 20px;
  height: 120px;
  overflow: auto;
}

.logging {
  background-color: #337ab7;
  color: white;
  text-align: left;
  vertical-align: middle;
  border: 1px;
  border-radius: 4px;
  padding: 10px 20px 10px 20px;
  margin: 10px 20px 0px 20px;
  height: 300px;
  overflow: auto;
}

.techinfo {
  text-align: center;
  color: darkblue;
  vertical-align: middle;
  font-size: 14px;
  padding-left: 20px;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 0.5em 1em 0.5em 1em;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.about { border: 1px;}



